---
export const prerender = false;

import { rgbToName, rgbToRgb } from "@/lib/colors";
import Layout from "@/layouts/Layout.astro";
import ColorPreview from "@/components/ColorPreview.svelte";

const id = Astro.url.searchParams.get("id");
const rgb = Astro.url.searchParams.get("rgb");
const name = Astro.url.searchParams.get("name");

if (!rgb) return Astro.redirect("/colors");

const [r, g, b] = rgb.split("-").map(Number);
const rgb_values = { r, g, b };

const colorName = rgbToName({ r, g, b });
const description = rgbToRgb({ r, g, b });
const image = `https://og.tailgraph.com/og?logoUrl=https%3A%2F%2Fhuntercolor.vercel.app%2Flogo-og.png&logoTailwind=w-xl&bgTailwind=bg-[rgb(${r},${g},${b})]&refresh=1`;
---

<Layout
  customTitle={colorName}
  customDescription={description}
  customImage={image}
>
  <main
    class="bg-violet flex h-svh flex-col items-center gap-2 text-neutral-900"
  >
    <ColorPreview {name} {rgb_values} {id} client:only />
  </main>
</Layout>
