---
import Dots from "@/assets/Dots.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <section class="bg-violet relative h-svh w-full overflow-clip rounded-3xl">
    <header
      id="toast"
      class="fixed top-0 right-0 z-20 flex -translate-y-full p-4 transition-transform"
    >
      <p
        class="rounded-full border border-neutral-50/10 bg-neutral-950 px-6 py-3 text-center text-sm font-medium backdrop-blur"
      >
        ✅ Color copiado
      </p>
    </header>

    <video
      playsinline
      autoplay
      muted
      class="absolute top-0 left-0 size-full object-cover"
    >
    </video>

    <canvas class="pointer-events-none absolute inset-0"></canvas>

    <dialog
      id="colorDialog"
      closedby="any"
      class="bottom-0 z-30 w-full rounded-tl-3xl rounded-tr-3xl bg-white p-5 shadow"
      
    >
      <div class="flex flex-col gap-2">
        <figure
          id="colorPreview"
          class="aspect-[21/9] w-full rounded-2xl border border-neutral-800/10"
        >
        </figure>

        <h1 id="colorName" class="mt-2 text-lg font-bold text-black"></h1>

        <ul class="flex flex-col">
          <li class="flex flex-col border-b border-neutral-900/10 py-2">
            <p class="text-xs font-semibold text-neutral-600">RGB</p>

            <button class="flex w-full items-center justify-between">
              <p id="rgbOut">rgb(0, 0, 0)</p>
              <Dots
                class="pointer-events-none right-4 size-4 text-neutral-400"
              />
            </button>
          </li>

          <li class="flex flex-col border-b border-neutral-900/10 py-2">
            <p class="text-xs font-semibold text-neutral-600">HEX</p>

            <button class="flex w-full items-center justify-between">
              <p id="hexOut">#000000</p>
              <Dots
                class="pointer-events-none right-4 size-4 text-neutral-400"
              />
            </button>
          </li>

          <li class="flex flex-col py-2">
            <p class="text-xs font-semibold text-neutral-600">CMYK</p>

            <button class="flex w-full items-center justify-between">
              <p id="cmykOut">0C 0M 0Y 0K</p>
              <Dots
                class="pointer-events-none right-4 size-4 text-neutral-400"
              />
            </button>
          </li>
        </ul>
      </div>
    </dialog>
  </section>
</Layout>

<style is:inline>
  #colorDialog[open] {
    tranlate: 0 0;
    transition: translate 150ms ease;

    @starting-style {
      translate: 0 100%;
    }
  }

  #colorDialog {
    transition: all 150ms ease allow-discrete;
  }

  #toast.active {
    translate: 0 !important;
  }
</style>

<script>
  import { rgbToHex, rgbToCmyk, getColorName } from "@/lib/colors";
  import { isTouchDevice } from "@/lib/utils";

  const video = document.querySelector("video") as HTMLVideoElement;
  const canvas = document.querySelector("canvas") as HTMLCanvasElement;
  const hunterButton = document.querySelector(
    "#color_output"
  ) as HTMLButtonElement;
  const colorDialog = document.querySelector(
    "#colorDialog"
  ) as HTMLDialogElement;
  const colorPreview = document.querySelector("#colorPreview") as HTMLElement;
  const rgbOut = document.querySelector("#rgbOut") as HTMLParagraphElement;
  const hexOut = document.querySelector("#hexOut") as HTMLParagraphElement;
  const cmykOut = document.querySelector("#cmykOut") as HTMLParagraphElement;
  const toast = document.querySelector("#toast") as HTMLElement;
  const ctx = canvas.getContext("2d", { willReadFrequently: true });
  const zoomCanvas = document.createElement("canvas");
  const zoomCtx = zoomCanvas.getContext("2d");
  const { innerWidth, innerHeight } = window;
  const colorName = document.querySelector("#colorName") as HTMLElement;

  let selection = { x: 0, y: 0, size: 65, zoom: 1.25 };
  let targetSelection = { x: 0, y: 0 };
  let rgb_values = { r: 0, g: 0, b: 0 };

  const videoOpts = isTouchDevice
    ? {
        facingMode: "environment",
        aspectRatio: innerHeight / innerWidth,
      }
    : {
        facingMode: "environment",
        aspectRatio: innerWidth / innerHeight,
        width: innerWidth,
      };

  const stream = await navigator.mediaDevices.getUserMedia({
    audio: false,
    video: videoOpts,
  });

  video.srcObject = stream;

  video.addEventListener("play", () => {
    if (!ctx) return;

    const { videoWidth, videoHeight } = video;
    const scaleX = innerWidth / videoWidth;
    const scaleY = innerHeight / videoHeight;
    canvas.width = innerWidth;
    canvas.height = innerHeight;

    ctx.scale(scaleX, scaleY);

    selection.x = targetSelection.x =
      innerWidth / 2 - (selection.size * selection.zoom) / 2;
    selection.y = targetSelection.y =
      innerHeight / 2 - selection.size * selection.zoom;

    drawSelection();
    animateSelection();
    analyzeColor();
  });

  function drawSelection() {
    if (!ctx || !zoomCtx) return;

    ctx.clearRect(0, 0, innerWidth, innerHeight);

    zoomCanvas.width = selection.size;
    zoomCanvas.height = selection.size;

    zoomCtx.imageSmoothingEnabled = true;
    zoomCtx.save();
    zoomCtx.beginPath();
    zoomCtx.arc(
      zoomCanvas.width / 2,
      zoomCanvas.height / 2,
      zoomCanvas.width / 2,
      0,
      Math.PI * 2
    );
    zoomCtx.closePath();
    zoomCtx.clip();

    zoomCtx.drawImage(
      video,
      selection.x + selection.size / 4,
      selection.y + selection.size / 4,
      selection.size,
      selection.size,
      0,
      0,
      zoomCanvas.width * selection.zoom,
      zoomCanvas.height * selection.zoom
    );

    zoomCtx.restore();
    zoomCtx.strokeStyle = "white";
    zoomCtx.lineWidth = 1;
    zoomCtx.beginPath();
    zoomCtx.arc(
      zoomCanvas.width / 2,
      zoomCanvas.height / 2,
      zoomCanvas.width / 2,
      0,
      Math.PI * 2
    );
    zoomCtx.stroke();

    zoomCtx.strokeStyle = "rgba(255, 255, 255, 0.1)";
    zoomCtx.lineWidth = 0.4;

    const gridSize = 6;
    const numLinesX = zoomCanvas.width / gridSize;
    const numLinesY = zoomCanvas.height / gridSize;

    for (let i = 0; i <= numLinesX; i++) {
      zoomCtx.beginPath();
      zoomCtx.moveTo(i * gridSize, 0);
      zoomCtx.lineTo(i * gridSize, zoomCanvas.height);
      zoomCtx.stroke();
    }

    for (let i = 0; i <= numLinesY; i++) {
      zoomCtx.beginPath();
      zoomCtx.moveTo(0, i * gridSize);
      zoomCtx.lineTo(zoomCanvas.width, i * gridSize);
      zoomCtx.stroke();
    }

    ctx.save();
    ctx.beginPath();
    ctx.arc(
      selection.x + (selection.size * selection.zoom) / 2,
      selection.y + (selection.size * selection.zoom) / 2,
      (selection.size * selection.zoom) / 2,
      0,
      Math.PI * 2
    );
    ctx.closePath();
    ctx.clip();

    ctx.drawImage(
      zoomCanvas,
      selection.x,
      selection.y,
      selection.size * selection.zoom,
      selection.size * selection.zoom
    );
    ctx.restore();

    ctx.strokeStyle = "white";
    ctx.lineWidth = 1;
    ctx.beginPath();
    ctx.arc(
      selection.x + (selection.size * selection.zoom) / 2,
      selection.y + (selection.size * selection.zoom) / 2,
      (selection.size * selection.zoom) / 2,
      0,
      Math.PI * 2
    );
    ctx.stroke();
  }

  function analyzeColor() {
    if (!ctx) return;

    const imageData = ctx.getImageData(
      selection.x,
      selection.y,
      selection.size,
      selection.size
    );

    const pixels = imageData.data;
    const totalPixels = selection.size * selection.size;

    let r = 0,
      g = 0,
      b = 0;

    for (let i = 0; i < pixels.length; i += 4) {
      r += pixels[i];
      g += pixels[i + 1];
      b += pixels[i + 2];
    }

    r = Math.floor(r / totalPixels);
    g = Math.floor(g / totalPixels);
    b = Math.floor(b / totalPixels);

    rgb_values = { r, g, b };
    printResult();
    requestAnimationFrame(analyzeColor);
  }

  function printResult() {
    const { r, g, b } = rgb_values;

    hunterButton.style.backgroundColor = `rgb(${r}, ${g}, ${b})`;
    colorPreview.style.backgroundColor = `rgb(${r}, ${g}, ${b})`;
    rgbOut.textContent = `rgb(${r}, ${g}, ${b})`;
    hexOut.textContent = rgbToHex({ r, g, b });
    cmykOut.textContent = rgbToCmyk({ r, g, b });
    colorName.textContent = getColorName({ r, g, b });
  }

  function animateSelection() {
    selection.x += (targetSelection.x - selection.x) * 0.2;
    selection.y += (targetSelection.y - selection.y) * 0.2;
    drawSelection();
    requestAnimationFrame(animateSelection);
  }

  function updateSelection(event: MouseEvent | TouchEvent) {
    const clientX =
      "touches" in event ? event.touches[0].clientX : event.clientX;
    const clientY =
      "touches" in event ? event.touches[0].clientY : event.clientY;

    targetSelection.x = clientX - (selection.size * selection.zoom) / 2;
    targetSelection.y = clientY - (selection.size * selection.zoom) / 2;
  }

  video.addEventListener("click", updateSelection);
  video.addEventListener("touchstart", updateSelection);

  hunterButton.addEventListener("click", () => {
    colorDialog.open = true;
  });
</script>
