---
import "@/styles/global.css";
import { metadata } from "@/lib/metadata";
import Footer from "@/components/Footer.svelte";
import Header from "@/components/Header.astro";
import Toaster from "@/components/Toaster.astro";
import Corner from "@/assets/Corner.astro";

const { title, description, image, name } = metadata;
const { site, url } = Astro;
const { pathname } = url;
const canonicalUrl = new URL(pathname, site).href;

const { customTitle, customDescription, customImage } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, viewport-fit=cover" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="manifest" href="/manifest.json" crossorigin="use-credentials" />
    <meta name="theme-color" content="#000000" />
    <link rel="apple-touch-icon" type="image/png" href="/mobile.png" />
    <link rel="canonical" href={canonicalUrl} />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content={name} />

    <title>{title}</title>
    <meta name="description" content={customDescription || description} />

    <meta name="author" content="verdu | verdu@live.com" />
    <meta name="robots" content="index, follow" />

    <meta property="og:type" content="website" />
    <meta property="og:title" content={customTitle || title} />
    <meta property="og:url" content={Astro.site} />
    <meta property="og:image" content={customImage || image} />
    <meta
      property="og:description"
      content={customDescription || description}
    />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content={customTitle || title} />
    <meta
      name="twitter:description"
      content={customDescription || description}
    />
    <meta name="twitter:image" content={customImage || image} />
    <meta name="twitter:image:alt" content={customTitle || title} />

    <script type="application/ld+json" is:inline>
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "Camera Picker",
        "url": "https://camerapicker.vercel.app/"
      }
    </script>

    <script
      src="https://analytics.ahrefs.com/analytics.js"
      data-key="sp4LZRBm2o+2T3UDkbiIRQ"
      async
      is:inline></script>
  </head>
  <body
    class="flex min-h-svh flex-col overflow-x-clip bg-black text-neutral-100"
  >
    <Toaster />
    <Header />
    <slot />
    <Footer {pathname} client:only />

    <Corner
      class="pointer-events-none fixed top-0 right-0 z-40 size-6 rotate-90 text-black"
    />
    <Corner
      class="pointer-events-none fixed right-0 bottom-0 z-40 size-6 rotate-180 text-black"
    />
    <Corner
      class="pointer-events-none fixed bottom-0 left-0 z-40 size-6 -rotate-90 text-black"
    />
  </body>
</html>
